.home {
    position: absolute;
    width: 100%;
}

.home iframe {
    top: 100px;
    left: 10px;
    position: absolute;
}

.home .button1 {
    top: 10px;
    left: 10px;
    position: absolute;
}
.home .button2 {
    top: 10px;
    right: 10px;
    position: absolute;
}
.home img {
    width: 100%;
}