.home {
    background-image: url("./../images/home/0.jpg");
    background-size: contain;
    background-repeat: round;
    width: 100%;
    height: 100%;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.home iframe {
    margin: 10px;
}

.home button {
    margin: 10px;
}

.home span {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (max-width: 800px) {
    .home {
        justify-content: flex-end;
        align-items: center;
    }
}