* {
    font-family: 'Indie Flower', cursive;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 80px 1fr;
    grid-template-areas: 
    "title"
    "menu"
    "content";
}

@media screen and (max-width: 800px) {
    body {
        grid-template-rows: 40px 100px 1fr;
    }
}


.title { grid-area: title; }

.menu { grid-area: menu; }

.content-container {
    grid-area: content;
    padding: 10px;
}

.content {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}